/* Стилевой файл*/

/*Fonts*/
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"), url("..//fonts/ptsans.woff2") format("woff2"), url("..//fonts/ptsans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans"), url("..//fonts/ptsansbold.woff2") format("woff2"), url("..//fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

/*Файл для переменных variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-brown: #333333;
  --basic-grey: #eeeeee;
  --brown: #766357;
  --grey: #f2f2f2;
  --light-grey: #ababab;
  --white-grey: #cfcfcf;
  --more-blue: #669ec0;
  --dark-blue: #5496bd;
  --more-brown: #604e43;
  --dark-brown: #503e33;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: var(--basic-grey);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*visually-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/
.page {
  height: 100%;
}

/*container*/
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  border: rgba(1, 1, 1, 0.1);
  border-bottom: 0.5px solid rgba(1, 1, 1, 0.2);
  box-shadow: 0 0 5px rgba(0, 1, 1, 0.2);
}

.main-header {
  outline: 5px solid green;
}

.main-nav {
  display: grid;
}

.main-nav__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 1200px;
  margin: 0 auto;
}

.main-nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style: none;

  width: 300px;
  height: 56px;

  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: left;
}

.site-list__item a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-list__item a:hover {
  color: var(--basic-blue);
}

.site-list__item a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-list__item--active a {
  color: var(--brown);
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  top: 1px;
  left: 531px;
  z-index: 1;
}

.site-list__item1 {
  padding-left: 70px;
}

.site-list__item3 {
  text-align: right;
}

.site-list__item4 {
  padding-left: 150px;
}
/*часть сайта сразу после меню и до фразы "Настоящий городок ..."*/

.reasons__index1 {
  width: 1200px;
  height: 725px;
  margin: 0;
  padding: 0;
}

.reasons__index {
  margin-top: 78px;
  margin-left: 370px;
}

.reasons--sedona {
  position: relative;
  width: auto;
  height: 509px;
  margin: 0;
  padding: 0;

  background-color: var(--basic-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background photo.jpg");
}

.reasons__number-zero {
  margin-top: 45px;
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.reasons__number-one {
  margin-top: 41px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.reasons__position {
  position: relative;
}

.reasons__position--triangle::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 453px;

  width: 1200px;
  height: 57px;
  background-repeat: no-repeat;
  background-image: url("..//img/triangle.svg");
}
/*Часть главной страницы с причиной № 1*/

.reasons__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 53px;
}

.reasons__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

}

.reasons__item-position {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.reasons__item-wrap {
  width: 400px;
  height: 256px;
  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;
}

.reasons__item-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.reasons__item-title {
  display: block;
  margin-top: 45px;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
}

.reasons__item-number {
  display: block;
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.reasons__item-recomendation {
  display: block;
  margin-top: 25px;
}

.reasons__item-picture {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 /* position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;*/
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 5px solid rgb(255, 208, 0);
}

.brown {
  color: var(--basic-brown);
}

.advantages__item {
  position: relative;
  width: 400px;
  height: 330px;
  margin: 0;
  padding: 0;
  padding-top: 156px;

  text-align: center;
  text-transform: uppercase;
  outline: 2px solid rgb(4, 0, 255);
}

.advantages__item-title {
  display: block;
  margin-bottom: 27px;
  font-size: 21px;
  color: var(--basic-black);
}

.advantages__item-description {
  display: block;
  font-size: 14px;
  color: var(--basic-brown);
}

.advantages__item--house::after {
  content: "";
  position: absolute;
  top: 58px;
  left: 163px;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-house.svg");
}

.advantages__item--meal::after {
  content: "";
  position: absolute;
  top: 58px;
  left: 163px;
  width: 77px;
  height: 75px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-meal.svg");
}

.advantages__item--suv::after {
  content: "";
  position: absolute;
  top: 52px;
  left: 167px;
  width: 77px;
  height: 75px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-suv.svg");
}
/*Часть главной страницы с причиной № 2*/

.bridge {
  color: var(--basic-white);
}
/*Часть страницы с причинами №№ 3,4,5*/

.reasons__item-small {
  background-color: var(--basic-grey);
}

/*Часть страницы с вопросом Заинтересовались?*/

.question {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  width: 1200px;
  height: 291px;
  margin: 0;
  padding: 0;
}

.question__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.question__text {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-bottom: 15px;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.question__content {
  display: block;
  width: 495px;
  height: 95px;
  margin: 0;
  padding: 0;
}

.question__content-text {
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.question__search {
  width: 568px;
  height: 86px;
  margin: 0;
  padding: 0;
  background-color: var(--brown);
}

.button {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-weight: 700;
  font-size: 21px;
  line-height: 86px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
}

  .map {
    display: block;
    width: 1200px;
    height: 473px;
    margin: 0;
  }

  .map__position {
    position: relative;
    width: auto;
    height: 473px;
    margin: 0;
    padding: 0;
  }

/* Футер*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  justify-content: start;
  align-items: center;
  width: 1200px;
  height: 120px;
  margin: 0;
  padding: 0;
  outline: 2px solid rgb(243, 8, 8);
}

.footer__contact {
  width: 400px;
  height: 120px;
  outline: 5px solid rgb(8, 243, 67);
}

.footer__title {
  display: block;
  height: 55px;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  font-size: 21px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.footer__tel a {
  display: block;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-left: 80px;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.footer__social {
  width: 400px;
  height: 120px;
  margin: 0;
  padding: 0;
  outline: 5px solid rgb(8, 243, 67);
}

.social__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-left: 10px;

  list-style: none;
}

.social__item {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin: 0;
  padding: 0;
  margin-right: 6px;

  background-color: var(--basic-blue);
}

.social__link--twitter::before {
  content:"";
  position: absolute;
  top: 17px;
  left: 14px;
  width: 18px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("..//img/twitter.svg");
}

.social__link--facebook::before {
  content:"";
  position: absolute;
  top: 15px;
  left: 18.5px;
  width: 14px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("..//img/fb-icon.svg");
}

.social__link--youtube::before {
  content:"";
  position: absolute;
  top: 15px;
  left: 13px;
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("..//img/youtube.svg");
}

.copyright__text {
  display: block;
  margin-left: 80px;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  outline: 5px solid rgb(8, 243, 67);
}

.copyright__text {
  display: block;
  margin-left: 55px;
}

.copyright__link {
  position: relative;
}

.copyright__link--htmlacademy::before {
  content:"";
  position: absolute;
  top: 1px;
  left: 10px;
  width: 115px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("..//img/logo-htmlacademy.svg");
}

/* модальное окно*/

.question {
  position: relative;
}

.module {
  position: absolute;
  top: 291px;
  left: 316px;
  z-index: 1;
  width: 568px;
  height: 395px;

  background-color: var(--basic-white);
}

.customer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 568px;
  height: 280px;
  padding-top: 50px;


  border: none;
}

.customer__day-in {
  display: block;
  width: 500px;
  height: 38px;
  margin-bottom: 32px;
}

.customer__day-in-letter {
  width: 60px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.customer__day-in-holder {
  position: relative;
  width: 348px;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--grey);
  border: none;
}

.customer__day-in--calender::before {
  content:"";
  position: absolute;
  top: 60px;
  left: 483px;
  width: 22px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("..//img/calendar.svg");
  z-index: 1;
}

.customer__day-in--calender::after {
  content:"";
  position: absolute;
  top: 130px;
  left: 483px;
  width: 22px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("..//img/calendar.svg");
  z-index: 1;
}

.customer__day-in-holder::placeholder {
  padding-left: 20px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: var(--grey);
}

.customer__day-out {
  display: block;
  width: 500px;
  height: 38px;
  margin-bottom: 32px;
}

.customer__day-out-letter {
  width: 60px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.customer__day-out-holder {
  width: 348px;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--grey);
  border: none;
}

.customer__day-out-holder::placeholder {
  padding-left: 20px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: var(--grey);
}

.customer__wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 500px;
  height: 40px;

  border: none;
}

.customer__adult {
  position: relative;
  display: block;
  width: 248px;
  height: 38px;
}

.customer__adult--plus-minus::before {
  content:"";
  position: absolute;
  top: 17px;
  left: 145px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("..//img/minus.svg");
  z-index: 1;
}

.customer__adult--plus-minus::after {
  content:"";
  position: absolute;
  top: 12px;
  left: 223px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("..//img/plus.svg");
  z-index: 1;
}

.customer__child--plus-minus::before {
  content:"";
  position: absolute;
  top: 17px;
  left: 380px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("..//img/minus.svg");
  z-index: 1;
}

.customer__child--plus-minus::after {
  content:"";
  position: absolute;
  top: 12px;
  left: 455px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("..//img/plus.svg");
  z-index: 1;
}

.customer__adult-letter {
  position: relative;
  width: 60px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.customer__adult-holder {
  width: 114px;
  height: 38px;
  margin-left: 23px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--grey);
  border: none;
}

.customer__adult-holder::placeholder {
  padding-left: 50px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: var(--grey);
}

.customer__child {
  display: block;
  width: 248px;
  height: 38px;
}

.customer__child-letter {
  width: 60px;
  padding-left: 53px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.customer__child-holder {
  width: 114px;
  height: 38px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--grey);
  border: none;
}

.customer__child-holder::placeholder {
  padding-left: 48px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: var(--grey);
}

.button-form {
  display: block;
  width: 458px;
  height: 58px;
  margin-left: 56px;
  background-color: var(--basic-blue);

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);

  border: none;
}
/*страница каталога*/

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
*/
  width: 1200px;
  height: 217px;
  margin: 0;
  padding: 0;
}

.filters--back {
  position: relative;
  width: auto;
  height: 217px;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background.jpg");
}

.ticks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;

  width: 600px;
  height: 217px;
  margin: 0;
  padding: 0;
  padding-top: 2px;

  color: var(--basic-white);
}

.ticks__type {
  margin-left: 11px;
}

.price {
  width: 600px;
  height: 217px;
  margin: 0;
  padding: 0;
}

/*Сторона фильтров в галочками*/

.filter-checked {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100px;

  margin-top: 23px;
  margin-left: 60px;
  margin-bottom: 30px;
  border: none;
}

.check__title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.check {
  margin-left: 40px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.check__input {
  position: absolute;
}

.check__box {
  position: absolute;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0.0;

  width: 27px;
  height: 23px;
  margin-left: -35px;
}

.check__input:checked + .check__box {
  background-image: url("../img/checkbox-on.svg");
}

.check__input:hover + .check__box {
  background-image: url("../img/checkbox-off.svg");
}

/*сложный фильтр*/

 .name__filter-comp1 {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-left: 210px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  color: var(--basic-white);
}

.range-filter {
  width: 320px;
  margin: 0;
  padding: 0;
  margin-left: 210px;
}

.range-control {
  position:relative;
  width: 314px;
  height: 70px;

  margin: 0;
  padding: 0;
  margin-top: 12px;
  border-radius: 5px;
}

.price-controls {
  position: relative;
  font-size: 0;
  border: 2px solid var(--basic-white);
}

.price-controls--rectangle::before {
  content:"";
  position: absolute;
  top: 5px;
  left: 158px;
  width: 4px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("..//img/rectangle.svg");
  z-index: 1;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;

  width: 50%;

  font-size: 14px;
  text-transform: uppercase;
}

.price-controls input {
  width: 50px;
  height: 29px;

  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;

  border: none;
  border-radius: 2px;

  color: var(--basic-white);
  background-color: transparent;
}

.min-price {
  font-size: 14px;
  font-weight: 400;
  color:var(--basic-white);
  padding-left: 65px;
}

.max-price {
  font-size: 14px;
  font-weight: 400;
  color:var(--basic-white);
  padding-left: 55px;
}

.bar-grey {
  margin-top: 22px;
  height: 2px;

  background-color: var(--basic-white);
  opacity: 0.3;
}

.bar {
  margin-top: -2px;
  width: 80%;
  height: 2px;

  background: var(--basic-white);
}

.toggle {
  width: 19px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--light-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--white-grey);
  cursor: pointer;
}

.toggle-min {
  position: absolute;
  top: 46px;
  left: -2px;
}

.toggle-min:hover {
  width: 23px;
  height: 22px;
  top: 44px;
  left: -4px;
}

.toggle-max {
  position: absolute;
  top: 46px;
  left: 249px;
}

.price-toggle {
  margin-top: 20px;
  margin-left: 292px;
}

.toggle-max:hover {
  width: 23px;
  height: 22px;
  top: 44px;
  left: 247px;
}

.price-button {
  width: 137px;
  height: 38px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400px;
  text-transform: uppercase;
  color: var(--basic-white);

  border: 2px solid var(--basic-white);
  background-color: transparent;
}

/*часть страницы каталога с сортировкой*/
.sorting {
  display: flex;
  flex-direction: row;

  width: 1200px;
  height: 86px;
}

.sorting__find {
  width: 140px;
  height: 30px;
  margin-top: 30px;
  margin-left: 70px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting__text {
  width: 80px;
  height: 20px;
  margin-top: 30px;
  margin-left: 25px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.center {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: start;

  width: 730px;

  list-style: none;
}

.center__type a {
  margin-right: 20px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;

  border-bottom: 1px dotted var(--basic-black);
}

.center__active a {
  margin-right: 20px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-blue);

  text-decoration: none;
  border: none;
}

.center__type a:hover {
  color: var(--basic-blue);
}

.center__type a:active {
  color: var(--basic-black);
  text-decoration: none;
  border: none;
}

.right-sorting {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: start;

  list-style: none;
}

.sort-current {
  margin-left: 10px;
}
/*часть страницы каталога с отелями*/

.hotels__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 70px;
}

.hotels__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: start;

  width: 1100px;
  height: 150px;
  margin: 0;
  padding: 0;
}

.hotel__item-middle-part {
  width: 780px;
  height: 90px;
  margin: 0;
  padding: 0;
}

.hotel__name {
  margin: 0;
  padding: 0;
}

.hotel__name a {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-left: 30px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.hotel__name a:hover {
  color: var(--basic-blue);
}

.hotel__name a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel__criteria {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}

.hotel__criteria-type {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.hotel__criteria-price {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.hotel__buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}

.hotel__details {
  width: 110px;
  height: 27px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 30px;
  padding-top: 3px;
  text-align: center;
  background-color: var(--basic-blue);
}

.hotel__details:hover {
  background-color: var(--more-blue);
}

.hotel__details:active {
  background-color: var(--dark-blue);
}

.hotel__book:hover {
  background-color: var(--more-brown);
}

.hotel__book:active {
  background-color: var(--dark-brown);
}

.hotel__details a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
}

.hotel__book {
  width: 142px;
  height: 27px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 7px;
  padding-top: 3px;
  text-align: center;
  background-color: var(--brown);
}

.hotel__book a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
}

.rating {
  width: 140px;
  height: 90px;
}

.rating__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.rating__stars {
  margin-left: 4px;
}

.rating__numbers {
  width: 110px;
  height: 27px;
  margin-top: 45px;
  margin-left: 30px;
  padding-left: 10px;
  background-color: var(--grey);
}

.rating__text {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: var(--basic-black);
  align-items: center;
  text-transform: uppercase;
}
