/* Стилевой файл*/

/*Fonts*/
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

/*Файл для переменных variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-brown: #333333;
  --basic-grey: #eeeeee;
  --brown: #766357;
  --grey: #f2f2f2;
  --light-grey: #ababab;
  --white-grey: #cfcfcf;
  --more-grey: #ebebeb;
  --border-grey: #e5e5e5;
  --more-blue: #669ec0;
  --dark-blue: #5496bd;
  --more-brown: #604e43;
  --dark-brown: #503e33;
  --middle-grey: #a9a9a9;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: var(--basic-grey);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*visually-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/
.page {
  height: 100%;
}

/*container*/
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  border: rgba(1, 1, 1, 0.1);
  border-bottom: 0.5px solid rgba(1, 1, 1, 0.2);
  box-shadow: 0 0 5px rgba(0, 1, 1, 0.2);
}

.main-nav {
  display: grid;
}

.main-nav__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 1200px;
  margin: 0 auto;
}

.main-nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.site-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-list__item {
  list-style: none;

  height: 56px;

  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: left;
}

.site-list__item1 {
  text-align: left;
  padding-left: 70px;
}

.site-list__item2 {
  text-align: left;
}

.site-list__item3 {
  text-align: right;
}

.site-list__item4 {
  text-align: right;
  padding-right: 70px;
}

.site-list__item a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-list__item a:hover {
  color: var(--basic-blue);
}

.site-list__item a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-list__item--active a {
  color: var(--brown);
}

.site-list__item a:active {
  color: var(--brown);
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  top: 1px;
  left: 531px;
  z-index: 1;
}

/*часть сайта сразу после меню и до фразы "Настоящий городок ..."*/

.reasons__index1 {
  width: 1200px;
  height: 725px;
  margin: 0;
  padding: 0;
}

.reasons__index {
  margin-top: 78px;
  margin-left: 370px;
}

.reasons--sedona {
  position: relative;
  width: auto;
  height: 509px;
  margin: 0;
  padding: 0;

  background-color: var(--basic-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background photo.jpg");
}

.reasons__number-zero {
  margin-top: 45px;
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.reasons__number-one {
  margin-top: 41px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.reasons__position {
  position: relative;
}

.reasons__position--triangle::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 453px;

  width: 1200px;
  height: 57px;
  background-repeat: no-repeat;
  background-image: url("..//img/triangle.svg");
}
/*Часть главной страницы с причиной № 1*/

.reasons__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 53px;
}

.reasons__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

}

.reasons__item-position {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.reasons__item-wrap {
  width: 400px;
  height: 256px;
  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;
}

.reasons__item-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.reasons__item-title {
  display: block;
  margin-top: 45px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.reasons__item-number {
  display: block;
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.reasons__item-recomendation {
  display: block;
  margin-top: 25px;
}

.reasons__item-picture {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brown {
  color: var(--basic-brown);
}

.advantages__item {
  position: relative;
  width: 400px;
  height: 330px;
  margin: 0;
  padding: 0;
  padding-top: 156px;

  text-align: center;
  text-transform: uppercase;
}

.advantages__item-title {
  display: block;
  margin-bottom: 27px;
  font-size: 21px;
  color: var(--basic-black);
}

.advantages__item-description {
  display: block;
  font-size: 14px;
  color: var(--basic-brown);
}

.advantages__item--house::after {
  content: "";
  position: absolute;
  top: 58px;
  left: 163px;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-house.svg");
}

.advantages__item--meal::after {
  content: "";
  position: absolute;
  top: 58px;
  left: 163px;
  width: 77px;
  height: 75px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-meal.svg");
}

.advantages__item--suv::after {
  content: "";
  position: absolute;
  top: 52px;
  left: 167px;
  width: 77px;
  height: 75px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-suv.svg");
}
/*Часть главной страницы с причиной № 2*/

.bridge {
  color: var(--basic-white);
}
/*Часть страницы с причинами №№ 3,4,5*/

.reasons__item-small {
  background-color: var(--basic-grey);
}

/*Часть страницы с вопросом Заинтересовались?*/

.question {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  width: 1200px;
  height: 291px;
  margin: 0;
  padding: 0;
}

.question__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.question__text {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-bottom: 15px;
  padding-right: 10px;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.question__content {
  display: block;
  width: 495px;
  height: 95px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.question__content-text {
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.question__search {
  width: 568px;
  height: 86px;
  margin: 0;
  padding: 0;
  background-color: var(--brown);
}

.button {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-weight: 700;
  font-size: 21px;
  line-height: 86px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
}

  .map {
    display: block;
    width: 1200px;
    height: 473px;
    margin: 0;
  }

  .map__position {
    position: relative;
    width: auto;
    height: 473px;
    margin: 0;
    padding: 0;
  }

/* Футер*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  align-items: center;
  width: 1200px;
  height: 120px;
  margin: 0;
  padding: 0;
}

.footer__contact {
  width: 400px;
  height: 120px;
}

.footer__title {
  display: block;
  height: 55px;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  padding-right: 27px;
  font-size: 21px;
  font-weight: 700;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.footer__tel a {
  display: block;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-left: 80px;
  padding-right: 7px;
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.footer__social {
  width: 400px;
  height: 120px;
  margin: 0;
  padding: 0;
}

.social__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-left: 7px;

  list-style: none;
}

.social__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  padding-top: 5px;

  background-color: var(--basic-blue);
}

.social__item:hover {
  background-color: var(--more-blue);
  cursor: pointer;
}

.social__item:active,
.social__item:focus {
  background-color: var(--dark-blue);
  cursor: pointer;
}

.copyright__picture {
  fill: var(--basic-white);
}

.copyright__picture:active,
.copyright__picture:focus {
  fill-opacity: 0.3;
}

.copyright__text {
  display: block;
  margin-left: 80px;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.copyright__text {
  display: block;
  margin-left: 66px;
  font-weight: 400;
  line-height: 45px;
}

.copyright__link {
  margin-left: 8px;
}

.copyright__picture-academy {
  display: block;
  width: 114px;
  height: 41px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.copyright__picture-academy:hover {
  fill: var(--dark-blue);
}

.copyright__picture-academy:active,
.copyright__picture-academy:focus {
  fill: #bdbbbc;
}

/* модальное окно*/

.question {
  position: relative;
}

.module {
  position: absolute;
  top: 291px;
  left: 316px;
  z-index: 1;
  width: 568px;
  height: 395px;

  background-color: var(--basic-white);
}

.customer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 568px;
  height: 280px;
  padding-top: 50px;
  border: none;
}

.customer__day-in {
  position: relative;
  display: block;
  width: 500px;
  height: 38px;
  margin-bottom: 32px;
}

.customer__day-in-letter {
  width: 60px;
  margin-left: 20px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-black);
}

.customer__day-in-holder {
  position: relative;
  width: 348px;
  height: 38px;
  margin-top: 4px;
  margin-left: 5px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--grey);
  color: var(--basic-black);

  border: none;
}

.customer__day-in-holder::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.customer__day-in-holder:hover {
  background-color: var(--more-grey);
}

.customer__day-in-holder:active,
.customer__day-in-holder:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--border-grey);
}

.customer__day-in--calender {
  position: absolute;
  top: 10px;
  left: 442px;
  width: 22px;
  height: 23px;
  z-index: 1;
  fill: var(--middle-grey);
  border: none;
}

.customer__day-in--calender:hover {
  fill: var(--basic-black);
  cursor: pointer;
}

.customer__day-in--calender:active,
.customer__day-in--calender:focus {
  fill: var(--basic-blue);
  cursor: pointer;
}

.customer__day-out {
  position: relative;
  display: block;
  width: 500px;
  height: 38px;
  margin-bottom: 28px;
}

.customer__day-out-letter {
  width: 60px;
  margin-left: 20px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.customer__day-out-holder {
  position: relative;
  width: 348px;
  height: 38px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--grey);
  border: none;
}

.customer__day-out-holder::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.customer__day-out-holder:hover {
  background-color: var(--more-grey);
}

.customer__day-out-holder:active,
.customer__day-out-holder:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--border-grey);
}

.customer__day-out--calender {
  position: absolute;
  top: 6px;
  left: 442px;
  width: 22px;
  height: 23px;
  z-index: 1;

  fill: var(--middle-grey);
  border: none;
}

.customer__day-out--calender:hover {
  fill: var(--basic-black);
  cursor: pointer;
}

.customer__day-out--calender:active,
.customer__day-out--calender:focus {
  fill: var(--basic-blue);
  cursor: pointer;
}

.customer__wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 500px;
  height: 40px;

  border: none;
}

.customer__adult {
  display: block;
  width: 248px;
  height: 38px;
}

.customer__adult-minus {
  position: absolute;
  top: 5px;
  left: 137px;
  width: 23px;
  height: 23px;
  z-index: 1;
  fill: var(--middle-grey);
  cursor: pointer;
  border: none;
}

.customer__adult-minus:hover {
  fill: var(--bacis-black);
}

.customer__adult-minus:active,
.customer__adult-minus:focus {
  fill: var(--basic-blue);
}

.customer__adult-plus {
  position: absolute;
  top: 10px;
  left: 213px;
  width: 23px;
  height: 23px;
  z-index: 1;
  fill: var(--middle-grey);
  cursor: pointer;
  border: none;
}

.customer__adult-plus:hover {
  fill: var(--basic-black);
}

.customer__adult-plus:active,
.customer__adult-plus:focus {
  fill: var(--basic-blue);
}

.customer__adult-letter {
  position: relative;
  width: 60px;
  padding-left: 20px;
  padding-right: 35px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.customer__adult-holder {
  width: 114px;
  height: 38px;
  padding-left: 53px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--grey);
  border: none;
}

.customer__adult-holder::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.customer__adult-holder:hover {
  background-color: var(--more-grey);
}

.customer__adult-holder:active,
.customer__adult-holder:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--border-grey);
}

.customer__child {
  position: relative;
  display: block;
  width: 248px;
  height: 38px;
}

.customer__child-minus {
  position: absolute;
  top: 5px;
  left: 122px;
  width: 23px;
  height: 23px;
  z-index: 1;
  fill: var(--middle-grey);
  cursor: pointer;
  border: none;
}

.customer__child-minus:hover {
  fill: var(--basic-black);
}

.customer__child-minus:active,
.customer__child-minus:focus {
  fill: var(--basic-blue);
}

.customer__child-plus {
  position: absolute;
  top: 9px;
  left: 198px;
  width: 23px;
  height: 23px;
  z-index: 1;
  fill: var(--middle-grey);
  cursor: pointer;
  border: none;
}

.customer__child-plus:hover {
  fill: var(--basic-black);
}

.customer__child-plus:active,
.customer__child-plus:focus {
  fill: var(--basic-blue);
}

.customer__child-letter {
  width: 60px;
  padding-left: 53px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.customer__child-holder {
  width: 114px;
  height: 38px;
  padding-left: 53px;
  margin-left: 22px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--grey);
  border: none;
}

.customer__child-holder::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.customer__child-holder:hover {
  background-color: var(--more-grey);
}

.customer__child-holder:active,
.customer__child-holder:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--border-grey);
}

.button-form {
  display: block;
  width: 458px;
  height: 58px;
  margin-left: 56px;
  background-color: var(--basic-blue);

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);

  border: none;
}

.button-form:hover {
  cursor: pointer;
  background-color: var(--more-blue);
}

.button-form:active,
.button-form:focus {
  cursor: pointer;
  background-color: var(--dark-blue);
  outline: none;
  color:rgba(255, 255, 255, 0.3);
}

/*страница каталога*/

.filters {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  min-height: 217px;
  margin: 0;
  padding: 0;
}

.filters--back {
  position: relative;
  width: auto;
  height: 217px;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background.jpg");
}

.ticks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;

  width: 600px;
  height: 217px;
  margin: 0;
  padding: 0;
  padding-top: 2px;

  color: var(--basic-white);
}

.ticks__infra {
  margin: 0;
}

.ticks__type {
  margin: 0;
  padding: 0;
  margin-left: 33px;
}

/*Сторона фильтров в галочками*/

.filter-checked {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100px;

  margin-top: 23px;
  margin-left: 60px;
  border: none;
}

.check__title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.check {
  margin-left: 41px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.check__input {
  position: absolute;
}

.check__box {
  position: absolute;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0.0;

  width: 27px;
  height: 23px;
  margin-left: -39px;
}

.check__input:checked + .check__box {
  background-image: url("../img/checkbox-on.svg");
}

.check__input:hover + .check__box {
  background-image: url("../img/checkbox-off.svg");
}

/*сложный фильтр*/

.filter-item {
  width: 600px;
  height: 100px;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  padding-left: 210px;
  border: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: white;
}

.range-filter {
  width: 317px;
  margin-top: 11px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color:white;
}

.prices-controls {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 317px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.prices-controls--rectangle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 157px;
  width: 2px;
  height: 22px;
  background-color: white;
}

.min-price {
  display: flex;
  justify-content: flex-start;
  line-height: 30px;
  padding-left: 21px;
  margin-left: 19px;
}

.max-price {
  display: flex;
  justify-content: flex-start;
  line-height: 30px;
  padding-left: 1px;
  margin-left: 25px;
}

.prices-controls label {
  width: 156px;
  height: 36px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  color:#ffffff;
  justify-content: center;
}

.prices-controls input {
  width: 50px;
  margin-top: -7px;
  padding-left: 3px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background: transparent;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: grey;
}

.range-controls .bar {
  width: 82%;
  height: 2px;
  background: white;
}

.range-controls .toggle {
  position: absolute;
  top: -7px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 9px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 1px;
}

.range-controls .toggle-max {
  left: 252px;
}

.range-controls .toggle-min:hover {
  border: 12px solid #ffffff;
  left: -4px;
  top: -10px;
}

.range-controls .toggle-max:hover {
  border: 12px solid #ffffff;
  left: 248px;
  top: -10px;
}

.price-toggle {
  position: absolute;
  top: 150px;
  left: 895px;
}

.price-button {
  width: 137px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.price-button:hover {
  background-color: #ffffff;
  color: #000000;
}

/*часть страницы каталога с сортировкой*/

.results {
  min-height: 540px;
  margin: 0;
  padding: 0;
}

.sorting {
  display: flex;
  flex-direction: row;

  width: 1200px;
  height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting__find {
  width: 140px;
  height: 30px;
  margin-top: 29px;
  margin-left: 72px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting__text {
  width: 80px;
  height: 20px;
  margin-top: 30px;
  margin-left: 25px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.center {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: start;

  width: 730px;
  padding-left: 35px;

  list-style: none;
}

.center__type a {
  margin-right: 33px;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;

  border-bottom: 1px dotted var(--basic-black);
}

.center__active a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-blue);

  text-decoration: none;
  border: none;
}

.center__type a:hover {
  color: var(--basic-blue);
}

.center__type a:active {
  color: var(--basic-black);
  text-decoration: none;
  border: none;
}

.right-sorting {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  margin-left: -3px;
  padding-top: 3px;

  list-style: none;
}

.sort-current {
  margin-left: 10px;
}

.sort-current__up {
  fill:#cacaca;
}

.sort-current__down {
  fill:#81b3d2;
}

.sort-current__up:hover {
  fill:#000000;
}

.sort-current__down:hover {
  fill:#000000;
}

.sort-current__up:focus,
.sort-current__up:active {
  fill:#81b3d2;
}

.sort-current__down:focus,
.sort-current__down:active  {
  fill:#81b3d2;
}

/*часть страницы каталога с отелями*/

.hotels__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: start;

  width: 1200px;
  min-height: 151px;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels__item-image {
  width: 135px;
  height: 90px;
  margin: 0;
  padding: 0;
}

.hotel__item-middle-part {
  width: 780px;
  height: 90px;
  margin: 0;
  padding: 0;
  margin-top: -6px;
}

.hotel__name {
  margin: 0;
  padding: 0;
}

.hotel__name a {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-size: 21px;
  line-height: 17px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.hotel__name a:hover {
  color: var(--basic-blue);
}

.hotel__name a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel__criteria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 25px;
  margin-left: 29px;
  margin-top: 7px;
}

.hotel__criteria-type {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.hotel__criteria-price {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.hotel__buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 258px;
  height: 27px;
  margin: 0;
  padding: 0;
  margin-left: 29px;
  margin-top: 15px;
}

.hotel__details {
  width: 110px;
  height: 27px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--basic-blue);
}

.hotel__details:hover {
  background-color: var(--more-blue);
}

.hotel__details:active,
.hotel__details:focus {
  background-color: var(--dark-blue);
}

.hotel__details a {
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
}

.hotel__details a:active,
.hotel__details a:focus {
  color:rgba(255, 255, 255, 0.3);
}

.hotel__book {
  width: 142px;
  height: 27px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--brown);
}

.hotel__book:hover {
  background-color: var(--more-brown);
}

.hotel__book:active,
.hotel__book:focus {
  background-color: var(--dark-brown);
}

.hotel__book a {
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
}

.hotel__book a:active,
.hotel__book a:focus {
  color:rgba(255, 255, 255, 0.3);
}

.rating {
  width: 140px;
  height: 90px;
}

.rating__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.rating__stars {
  margin-left: 4px;
}

.rating__numbers {
  width: 110px;
  height: 27px;
  margin-top: 41px;
  margin-left: 30px;
  padding-left: 15px;
  background-color: var(--grey);
}

.rating__text {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: var(--basic-black);
  align-items: center;
  text-transform: uppercase;
}
